:root {
    /* Colors */
    --color-primary: rgb(0, 0, 0);  /* Dark Blue for main text */
    --color-secondary: teal;  /* Teal for sidebar */
    --color-accent: teal;  /* Teal for links hover and section separators */
    --hover-color: #88b7d8; /* Light blue for links hover */

    /* Spacing */
    --base-spacing: 1.5rem;
    /* Main spacing for elements */
    --section-spacing: 2.5rem;
    /* Space between sections */
    --sidebar-spacing: 1.5rem;
    /* Padding around sidebar content */

    /* Fonts */
    --font-primary: 'Work Sans', sans-serif;
    /* Main font */
    --font-secondary: 'Nunito', sans-serif;
    /* Secondary font (not used in this CSS) */
    --base-font-size: 1rem;
    /* Base font size for body text */
    --h1-font-size: 2rem;
    /* Font size for main headings */
    --h2-font-size: 1.75rem;
    /* Font size for sub-headings */
    --h3-font-size: 1.5rem;
    /* Font size for sub-sub-headings */
    --h4-font-size: 1.25rem;
    /* Font size for the smallest headings */

    /* Other */
    --base-line-height: 1.5;
    /* Base line height for text */
    --section-separator: 1px solid var(--color-accent);
    /* Line to separate sections */
    --icon-font-size: 2rem;
    /* Size of the font icons */
    --transition-speed: 0.3s;
    /* Transition speed for link hover effects */

    /* Link hover color */
}

/* Global styles for HTML and body elements, including a reset for default browser styles */

html,
.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h1,
.h2,
.h3,
.h4,
.p {
    font-family: var(--font-primary);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-primary);
    /* Include padding and border in element's total width and height */
}

.body { 
    color: var(--color-primary);
    /* Main text color */
    font-size: var(--base-font-size);
    /* Base font size */
    line-height: var(--base-line-height);
    /* Base line height */
    font-family: var(--font-primary);
    background-color: #f0f0f0;
    display: flex;
    height: 100vh;
}
.nav {
    font-family: var(--font-secondary);
    font-size: var(--h4-font-size);
    /* Use secondary font for navigation links */
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(194, 218, 213);
      
      li {
        float: left;
      }
      
      ul li a {
        display: inline-block;
        padding: 8px;
      }
}


.container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

  .item-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #793535;
    font-size: 1.5em;
    font-weight: 700;
    text-shadow: 1px 1px 1px #878787;
  }

.item-projects {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        color: #793535;
        font-size: 1.5em;
        font-weight: 700;
        text-shadow: 1px 1px 1px #878787;
      }

      .item-Articles {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        color: #793535;
        font-size: 1.5em;
        font-weight: 700;
        text-shadow: 1px 1px 1px #878787;
      }

      .item-professional-links {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        color: #793535;
        font-size: 1.5em;
        font-weight: 700;
        text-shadow: 1px 1px 1px #878787;
      }


  .cards {
    display: grid;
    grid-template-columns: repeat(3);
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    grid-gap: 1rem;
    
    width: 50%;
            height: 100vh;
            background-color: #e0e0e0;
            float: right;

    }
    
    .card {
    border: 2px solid #e7e7e7;
    
    border-radius: 4px;
    
    padding: .5rem;

    width: 50%;
    height: 100%;
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

.links {
    display: flex;
    /* Apply Flexbox layout */
    justify-content: space-between;
    /* Distribute space evenly between the children */
    padding: 0.5rem;
    /* Add padding around the links */
}

.links a {
    color: inherit;
    /* Use the parent's text color */
    font-size: var(--icon-font-size);
    /* Icon size */
    text-decoration: none;
    /* Remove the underline from links */
    transition: color var(--transition-speed) ease, transform var(--transition-speed) ease;
    /* Add transition effects for link hover */
}

.links a:hover {
    color: var(--hover-color);
    /* Change text color on hover */
    transform: scale(1.1);
    /* Enlarge the link on hover */
}

.menu {
    display: flex; /* Display menu items horizontally */
    justify-content: space-between; /* Spread menu items evenly */
    align-items: center; /* Center vertically */

  }

  .menu-item {
    list-style: none; /* Remove list bullets */
    margin: 0; /* Remove default list margins */
    padding: 0; /* Remove default list padding */
    display: flex;
  }

  .menu-item ul a {
    text-decoration: none; /* Remove underline from links */
    color: var(--color-primary); /* Set link text color */
  }
  
  .menu-item ul a:hover {
    text-decoration: underline; /* Add underline on hover */
  }


.footer {
    /*stay at the bottom*/
    /* position: fixed; */
    text-align: center;
    /* Center align the text */
    padding: var(--section-spacing);
    /* Add padding around the footer content */
    border-top: var(--section-separator);
    /* Add a line above the footer */
    font-family: var(--font-secondary);
    font-size: var(--h4-font-size);
    /* Use secondary font for navigation links */
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(194, 218, 213);
        text-decoration: none; /* Remove underline from links */
        color: var(--color-primary); /* Set link text color */
}

.footer-link {
    list-style: none; /* Remove list bullets */
    margin: 0; /* Remove default list margins */
    padding: 0; /* Remove default list padding */
    display: center;
  }

  .footer-link ul a {
    text-decoration: none; /* Remove underline from links */
    color: var(--color-primary); /* Set link text color */
  }
  
  .footer-link ul a:hover {
    text-decoration: underline; /* Add underline on hover */
  }
/* Responsive design: apply different styles when the viewport width is 768px or less */

@media (max-width: 768px) {
    body {
        background: none;
        /* Remove background image */
    }

    .container {
        flex-direction: column;
        /* Stack children vertically */
        margin: 0 auto;
        /* Centrally align the container horizontally */
        padding: 0;
        /* Remove padding */
        width: 100%;
        /* Full width of the viewport */
    }

    .card {
        border: none;
        /* Remove border */
        padding: 0;
        /* Remove padding */
        margin: 0.5rem 0;
        /* Add margin between cards */
    }
}


@media print {
    :root {
        --base-font-size: 12pt;
    }

    /* Reset */
    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .body {
        font-family: "Times New Roman", serif;
        color: #333;
    }

    .container {
        flex-direction: column;
        margin: 0.1rem;
    }

    .card {
        border: none;
        padding: 0;
        margin: 0.5rem 0;
    }

    .p {
        text-align: justify;
        margin-bottom: 0.2rem;
    }


    .links,
    h1{
        display: none;
    }


}